<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 offset-md-4 jumbotron">
    	<h3>Login</h3>

	      <div class="input-group mb-3">
	        <input type="text" class="form-control" (keyup)="onKeyUp()" [(ngModel)]="username" id="basic-url" placeholder="Username" aria-describedby="basic-addon3">
	      </div>

	      <div *ngIf="check_username == false" class="alert alert-danger">Url is invalid. Please, check this or try later</div>


	      <div class="input-group mb-3">
	        <input type="text" class="form-control" (keyup)="onKeyUp()" [(ngModel)]="password" id="basic-url" placeholder="Password" aria-describedby="basic-addon3">
	      </div>

	      <div *ngIf="check_password == false" class="alert alert-danger">Url is invalid. Please, check this or try later</div>

	      <div class="input-group mb-3">
	        <button [disabled]='check_user ? false : true' (click)="addUrls()" type="button" class="btn btn-primary">Login</button>
	      </div>
    </div>
</div>