<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 offset-md-4 jumbotron">
    	<h3>Login</h3>
		
		<!-- <form action="/login" method="POST"> -->
	      <div class="input-group mb-3">
	        <input type="text" class="form-control" name="_username" [(ngModel)]="username" id="basic-url" placeholder="Username" aria-describedby="basic-addon3">
	      </div>

	      <div *ngIf="check_username == false" class="alert alert-danger">Url is invalid. Please, check this or try later</div>


	      <div class="input-group mb-3">
	        <input type="password" name="_password" class="form-control" [(ngModel)]="password" id="basic-url" placeholder="Password" aria-describedby="basic-addon3">
	      </div>

	      <div *ngIf="check_password == false" class="alert alert-danger">Url is invalid. Please, check this or try later</div>

	      <div class="input-group mb-3">
	        <button (click)="login()" type="button" class="btn btn-primary">Login</button>
	      </div>
	    <!-- </form> -->
    </div>
</div>