<div class="container">
  <div class="row">
    <div *ngIf="added_urls == false" class="col-sm-12 col-md-8 offset-md-2 jumbotron">
      <label for="basic-url">Your URl</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" id="basic-url" (keyup)="check_onBlur_general($event)" aria-describedby="basic-addon3">
      </div>

      <div *ngIf="check_general_url == false" class="alert alert-danger">Url is invalid. Please, check this or try later</div>


      <label for="basic-url">Shortener URL
      </label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">{{ this.service.url }}</span>
        </div>
        <input type="text" (keyup)="onKey($event)" value={{short_url}} (keyup)="check_onBlur_short($event)" class="form-control short_url" id="basic-url" aria-describedby="basic-addon3">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="generate()" type="button" id="button-addon1">Generate</button>
        </div>
        <br/>
      </div>

      <div *ngIf="check_shorter_url == false" class="alert alert-danger">This url already exist. Please, change url.</div>
      <div *ngIf="short_url_valid == false" class="alert alert-danger">This url not valid. Please, change url.</div>
      
      <div class="input-group mb-3">
        <button [disabled]='checks_url ? false : true' (click)="addUrls()" type="button" class="btn btn-primary">Add Pair</button>
      </div>
    </div>


      
    <div *ngIf="added_urls == true" class="col-sm-12 col-md-8 offset-md-2 jumbotron">
      <div class="input-group mb-3">
        <input type="text" value="{{ value }}" class="form-control copyField" aria-label="Copy link" aria-describedby="button-addon1" readonly>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="copyMessage()" type="button" id="button-addon1">Copy</button>
        </div>
      </div>
      
      <small id="inputHelp" class="text-muted input-group mb-3">
          The URL pair will be deleted after 15 days
      </small>
    </div>


  </div>
</div>